html {
	background-color: #f0f0f0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 2vmax;
	margin: 5% 10%;
	color: #394240;
}

h1 {
	color: black;
	font-size: 6vmax;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	padding-top: 10px; 
	font-size: 2.5vmax;
	text-align: center;
}

p:first-of-type {
	padding-bottom: 1em;
}

i {
  	font-style: italic;
}

.content {
	padding: 5% 0 0;
	font-family: 'Lato', sans-serif; 
	font-weight: 300;
	line-height: 125%;
}

a:link {
	text-decoration: none;
	color: black;	
}

a:visited {
	color: black;
}

a:hover {
	color: #1DEED1;
}

.portfolio {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: space-between;
            justify-content: space-between;       
    width: 50%;
    margin: 100px auto 0;
    border-top: 2px solid tomato;
    border-bottom: 2px solid tomato;
    padding: 5px 0;
    }



/* MEDIA QUERIES */

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
	body {
		font-size: 2.75vmax;
	}

	.content {
  		padding-top: 10%;
	}

	.contact a {
		background-color: #F8FE35;
	}

	.portfolio {
		margin-top: 10%;
	}
}



